fr1: user login --> DONE
 - scenario: wrong login
 - scenario: successfull login

fr2: user registration --> DONE
 - successfull registration
 - email missing
 - first name missing
 - last name missing
 - password missing
 - invalid mail adress format

fr3: projects -> add new project
 - create new project
 - create new project without name

fr4: projects -> search existing
 - search for projects with a given string
 - search for projects with an empty string

fr5: projects -> delete existing projects
 - delete an existing project

fr6: projects -> edit existing
 - change name with given string
 - change name with empty string

fr7: time entries -> add new time entry
 - create new time entry
 - create new time entry with missing start time
 - create new time entry with missing end time
 - create new time entry with missing description
 - create new time entry with missing project

fr8: time entries -> search for existing
 - search for time entry by start time
 - search for time entry by end time
 - search for time entry by description
 - search for time entry by user
 - search for time entry by project name
 - search for time entry with an empty string

fr9: time entries -> delete existing time entry
 - delete an existing time entry

fr10: time entries -> edit existing time entry
 - edit an existing time entry
 - edit an existing time entry with missing start time
 - edit an existing time entry with missing end time
 - edit an existing time entry with missing description

fr11: user logout --> DONE
 - successful logout
